infrastructure/n8n/workflows/01-daily-discovery-run.json
{
  "name": "WISE Daily Discovery Run",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 2 * * *" }]
        }
      },
      "id": "a1000001-0001-4001-8001-000000000001",
      "name": "Schedule 02:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ops.workflow_runs (workflow_id, trigger_type, status) VALUES ('wise-daily-discovery-run', 'schedule', 'running') RETURNING id;"
      },
      "id": "a1000001-0001-4001-8001-000000000002",
      "name": "Log Run Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "notes": "Requires ops schema migration. See n8n-workflow-catalog.md §3."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WISE_API_BASE_URL}}/orchestration/v1/runs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pipeline\": \"rc1\", \"stable_id\": \"stonehenge\", \"mode\": \"scheduled\", \"stop_on_interrupt\": true}",
        "options": {}
      },
      "id": "a1000001-0001-4001-8001-000000000003",
      "name": "Trigger LangGraph RC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "notes": "Intelligence in packages/wise-orchestration — n8n triggers only."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-failed",
              "leftValue": "={{$json.status}}",
              "rightValue": "failed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1000001-0001-4001-8001-000000000004",
      "name": "If Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "owner": "={{$env.WISE_GITHUB_OWNER}}",
        "repository": "={{$env.WISE_GITHUB_REPO}}",
        "title": "=WISE discovery run failed: {{$json.thread_id}}",
        "labels": ["ops-discovery", "n8n"],
        "body": "=LangGraph RC1 run failed. thread_id={{$json.thread_id}}. See ops.workflow_runs."
      },
      "id": "a1000001-0001-4001-8001-000000000005",
      "name": "GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [880, -80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ops.workflow_runs SET finished_at = now(), status = $2, external_ref = $3, summary = $4::jsonb WHERE id = $1::uuid;",
        "options": {}
      },
      "id": "a1000001-0001-4001-8001-000000000006",
      "name": "Log Run Finish",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 80]
    }
  ],
  "connections": {
    "Schedule 02:00 UTC": { "main": [[{ "node": "Log Run Start", "type": "main", "index": 0 }]] },
    "Log Run Start": { "main": [[{ "node": "Trigger LangGraph RC1", "type": "main", "index": 0 }]] },
    "Trigger LangGraph RC1": { "main": [[{ "node": "If Failed", "type": "main", "index": 0 }]] },
    "If Failed": {
      "main": [
        [{ "node": "GitHub Issue", "type": "main", "index": 0 }],
        [{ "node": "Log Run Finish", "type": "main", "index": 0 }]
      ]
    },
    "GitHub Issue": { "main": [[{ "node": "Log Run Finish", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "wise": {
      "workflow_id": "wise-daily-discovery-run",
      "catalog": "docs/implementation/n8n-workflow-catalog.md#51-wise-daily-discovery-run"
    }
  },
  "tags": [{ "name": "wise" }, { "name": "daily" }, { "name": "discovery" }]
}
