infrastructure/n8n/workflows/04-daily-benchmark-report.json
{
  "name": "WISE Weekly Benchmark Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * 1" }]
        }
      },
      "id": "a4000004-0004-4004-8004-000000000001",
      "name": "Schedule Mon 07:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ops.workflow_runs (workflow_id, trigger_type, status) VALUES ('wise-daily-benchmark-report', 'schedule', 'running') RETURNING id;"
      },
      "id": "a4000004-0004-4004-8004-000000000002",
      "name": "Log Run Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WISE_API_BASE_URL}}/v1/benchmarks/runs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"domain\": \"composite\", \"agents\": [\"09\", \"10\", \"11\", \"12\", \"13\"], \"trigger\": \"n8n-scheduled\"}"
      },
      "id": "a4000004-0004-4004-8004-000000000003",
      "name": "Trigger Benchmark Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "notes": "Benchmark Agent (23) scores — n8n schedules and delivers report."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-regression",
              "leftValue": "={{$json.result}}",
              "rightValue": "regression",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-fail",
              "leftValue": "={{$json.result}}",
              "rightValue": "fail",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "a4000004-0004-4004-8004-000000000004",
      "name": "If Fail Or Regression",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "owner": "={{$env.WISE_GITHUB_OWNER}}",
        "repository": "={{$env.WISE_GITHUB_REPO}}",
        "title": "=WISE benchmark regression: {{$json.run_id}}",
        "labels": ["benchmark-regression", "n8n"],
        "body": "=Benchmark run result={{$json.result}}. See Benchmark Agent spec 23."
      },
      "id": "a4000004-0004-4004-8004-000000000005",
      "name": "GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [880, -80]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.STEWARD_EMAIL_FROM}}",
        "toEmail": "={{$env.STEWARD_EMAIL_TO}}",
        "subject": "=WISE Weekly Benchmark Scorecard — {{$now.format('yyyy-MM-dd')}}",
        "emailType": "text",
        "message": "={{JSON.stringify($json, null, 2)}}"
      },
      "id": "a4000004-0004-4004-8004-000000000006",
      "name": "Email Scorecard",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 80]
    }
  ],
  "connections": {
    "Schedule Mon 07:00 UTC": { "main": [[{ "node": "Log Run Start", "type": "main", "index": 0 }]] },
    "Log Run Start": { "main": [[{ "node": "Trigger Benchmark Run", "type": "main", "index": 0 }]] },
    "Trigger Benchmark Run": { "main": [[{ "node": "If Fail Or Regression", "type": "main", "index": 0 }]] },
    "If Fail Or Regression": {
      "main": [
        [{ "node": "GitHub Issue", "type": "main", "index": 0 }],
        [{ "node": "Email Scorecard", "type": "main", "index": 0 }]
      ]
    },
    "GitHub Issue": { "main": [[{ "node": "Email Scorecard", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "wise": {
      "workflow_id": "wise-daily-benchmark-report",
      "catalog": "docs/implementation/n8n-workflow-catalog.md#54-wise-daily-benchmark-report"
    }
  },
  "tags": [{ "name": "wise" }, { "name": "weekly" }, { "name": "benchmark" }]
}
